.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;

  @media (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

.form-group {
  &--full {
    grid-column: span 1;

    @media (min-width: 640px) {
      grid-column: span 2;
    }
  }
}
