:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.donors-topbar {
  .topbar-actions {
    flex-wrap: wrap;
    gap: 8px;

    @media (min-width: 1024px) {
      flex-wrap: nowrap;
    }
  }
}
